    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <strong>#HACK4DK 2014 Project</strong> A tool which helps GLAMs harness the information and knowledge shared in the Facebook ecosystem. <a target="_blank" href="http://goo.gl/ioWf2P">More information…</a><br/>
              This proof of concept is based on<a target="_blank" href="https://www.facebook.com/photo.php?fbid=10204583782495473&set=gm.351231781711010&type=1"> this FB thread</a>.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="toolbar clearfix">
              <div class="row">
                <div class="col-md-3">
                  <h4 class="collection-id"><a style="color:white;  text-decoration: underline;" href="http://samlinger.natmus.dk/DMR/56089">DMR 56089</a></h4>
                </div>
                <div class="col-md-7 tags">
                  <span class="label label-success">1938</span>
                  <span class="label label-default">Larslejstræde</span>

                  <span class="label stats first">8/30 kommentarer</span>
                  <span class="label stats">2 tags</span>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-success pull-right">&#x2713;</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 main">
            <div class="card">
              <p>
                <img src="img/natmus1.jpg" class="img-responsive" />
              </p>
              <div class="meta">
                <p>

                  <span class="label label-default">Larslejstræde</span>
                  <span class="label label-default">National</span>
                  <span class="label label-default">Sankt</span>
                  <span class="label label-default"></span>

                  <span class="label label-success">1860</span>
                  <span class="label label-success">1999</span>
                  <span class="label label-success">1938</span>
                  <span class="label label-success">1875</span>
                  <span class="label label-success">1899</span>
                </p>
                <p>
                  Larslejstræde
                  Fra National museet .. dateret ca. 1860 1999 .. bare sådan cirka ? *gasp*
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 tool">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#comments" role="tab" data-toggle="tab">Kommentarer</a></li>
              <li><a href="#images" role="#images" data-toggle="tab">Billeder</a></li>
              <li><a href="#map" role="#map" data-toggle="tab">Kort</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="comments">
                <p></p>
                <p class="comment bad">
                  Så har de da ikke misset noget...:-)
                </p>
                <p class="comment bad">
                 Christian, jeg har skrevet en besked til dig her på FB. Har du set den?
                </p>
                <p class="comment bad">
                  :-)
                </p>

                <p class="comment">
                  Jeg boede lige overfor i Sankt pederstræde 17
                </p>
                <p class="comment">
                  Med brostenene er det jo næppe særligt tæt på 1999 ...
                </p>
                <p class="comment bad">
                  mon det er samme fotograf ?
                </p>

                <p class="comment">
                  Solen står meget forskelligt på de to billeder, så han må i så fald have taget de to fotos ved forskellige lejligheder.
                </p>

                <p class="comment bad">
                  Det må kræve stor erfaring at lave sådan en datering
                </p>

                <p class="comment bad">
                  Hélt sikkert, Bjarne.
                </p>

                <p class="comment bad">
                  Har nogen af jer et bud på en mere præcis datering, så vil jeg hjælpe forslaget videre her i huset...
                </p>
                <p class="comment bad">
                  Det er på det nærmeste umuligt. Bygningerne ser stadig sådan ud.
                </p>
                <p class="comment">
                  Man kan jo sætte et senest muligt årstal på ved at konstatere, hvornår gaden blev asfalteret.
                </p>
                <p class="comment">
                  Ifølge påklædningen på børnene er det da før 30erne
                </p>
                <p class="comment bad">
                  Og for enden af gaden er der bygget et skur eller lignende halvt ud på gaden?
                </p>
                <p class="comment">
                  Det hus man aner i venstre side af billede 1 er i hvert fald ikke det, der står der i dag. Det nuværende er fra 1938.
                </p>
                <p class="comment">
                  Og så kan vi vist også flytte den nedre grænse frem til i hvert fald omkring 1875, hvor kloakeringen begyndte at tage fart. Jeg ser ingen dybe rendestene, men derimod noget, der godt kunne være kloakriste...
                </p>
                <p class="comment">
                  Så vidt jeg kan bedømme står "skuret" ud for nr 7, Stiftsbygningen, opført 1899, nu en del af St. Petri skole. Det ville næsten være for nemt, hvis skuret var fra bygningens opførelse, men det er da en mulighed.
                </p>
                <p class="comment bad">
                  Tusind tak allesammen! Tråden her illustrerer på perfekt vis, at der her i gruppen lever viden, som Nationalmuseets samlinger, og registreringen af disse, kunne have stor gavn af. Vi arbejder på tiltag der vil muliggøre, at det I véd kan blive en del af museets blivende registreringer der sikres bevaring for eftertiden. I hører nærmere
                  <br/>
                  (PS. Jeg er digitialiseringsansvarlig ved Nationalmuseet).
                </p>
                <p class="comment bad">
                  Jeg har flere gange på det sidste set opslag om at Nationalmuseet frigiver et stort antal fotos. Så vidt jeg kan se, er det stadig ikke sket. Ved du hvornår, Jacob Riddersholm Wang?
                </p>
                <p class="comment bad">
                  Der er en del ude allerede Jens. samlinger.natmus.dk
                </p>
                <p class="comment bad">
                  Næ, antallet går faktisk ned for tiden, som Jens Peter Lieberkind lige har gjort opmærksom på.
                </p>
                <p class="comment bad">
                  Går ned?
                </p>
                <p class="comment bad">
                  Ja, for et par uger siden var der 46.000, nu er der 41.000 (cirkatal).
                </p>
                <p class="comment bad">
                   Bare de ikke laver en "stadsarkiv"!
                </p>
                <p class="comment bad">
                  Det er også svært.
                </p>
                <p class="comment bad">
                  Hvorfor mon linket ikke kan likes, JK?
                </p>
                <p class="comment bad">
                  Jeg har slettet det igen. Jens Peters kommentar må stadig kunne findes, et eller andet sted. Det viser bare en tegneserieforside.
                </p>
                <p class="comment bad">
                  Godt nok er 40.000 billeder ikke meget mere end hvad Manu skyder på en god dag, men det er immervæk stadig en pæn start, synes jeg.
                  Jens, hvis du læser pressemeddelelsen, kan du se at der stadig er en måned til den officielle lancering. Derefter er planen at nå de omtalte 750.000 billeder "i løbet af de kommende år".
                  http://www.mynewsdesk.com/.../nationalmuseet-frigiver...

                  Men lad os endelig høre Jacob Riddersholm Wang fortælle nærmere!
                </p>
                <p class="comment bad">
                Et Fischer billede fra Larslejstræde<br/>
                <img src="img/img6.jpg" width="100px" />
                </p>
                <p class="comment bad">
                  Smukt billede Søren! Det har vi da en datering på et sted i arkivet. Så skal vi bare have fjernet sneen og hestevognen, så vi kan se noget...
                </p>


              </div>
              <div class="tab-pane" id="images">
                <p>
                  <div class="row" style="text-align:center; margin-bottom: 20px;"> <!-- TOP images -->
                  <p>Viser billeder fra: <strong>National Museet </strong></p>
                  <p>søgeord: <span style="font-style: italic;">Larslejstræde</span></p>
                  <img src="img/natmus1.jpg" style="width:250px; margin-bottom:5px; display:inline-block" class="img-responsive" alt="Responsive image"><br/>
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>

                  </div>
                  <div class="row" style="text-align:center"> <!-- TOP thumbs -->
                      <img src="img/img1.jpg" style="margin-right:10px; width:100px; display:inline" class="img-responsive" alt="Responsive image">
                      <img src="img/img2.jpg" style="margin-right:10px; width:100px; display:inline" class="img-responsive" alt="Responsive image">
                      <img src="img/img4.jpg" style="margin-right:10px; width:100px; display:inline;" class="img-responsive" alt="Responsive image">
                      <img src="img/img3.jpg" style="margin-right:10px; width:100px; display:inline" class="img-responsive" alt="Responsive image">
                      <img src="img/natmus1.jpg" style="margin-right:10px; width:100px; display:inline; border: 2px solid green" class="img-responsive" alt="Responsive image">

                  </div>

                </p>
              </div>
              <div class="tab-pane" id="map">
                <p>
                  <!-- KORT WIDGET -->
                  <!-- div style="position: absolut" id="map-canvas">123</div -->
                  <img src="map.png" class="img-responsive" />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
