    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-info fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <strong>#HACK4DK 2014 Project</strong> A tool which helps GLAMs harness the information and knowledge shared in the Facebook ecosystem. <a target="_blank" href="http://goo.gl/ioWf2P">More information…</a><br/>
              This proof of concept is based on<a target="_blank" href="https://www.facebook.com/photo.php?fbid=10204583782495473&set=gm.351231781711010&type=1"> this FB thread</a>.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="toolbar clearfix">
              <div class="row">
                <div class="col-md-3">
                  <h4 class="collection-id"><a style="color:white;  text-decoration: underline;" href="http://samlinger.natmus.dk/DMR/56089">DMR 56089</a></h4>
                </div>
                <div class="col-md-7 tags">
                  <span class="label label-success">1938</span>
                  <span class="label label-default">Larslejstræde</span>

                  <span class="label stats first">8/30 kommentarer</span>
                  <span class="label stats">2 tags</span>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-success pull-right">&#x2713;</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 main">
            <div class="card">
              <p>
                <img ng-src="{{currentPost.pictureLarge}}" class="img-responsive" />
              </p>
              <div class="meta">
                <p>
                  <span ng-repeat="keyword in currentPost.keywords" class="label label-default">{{keyword.text}}</span>
                </p>
                <p>
                  {{currentPost.message}}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 tool">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#comments" role="tab" data-toggle="tab">Kommentarer</a></li>
              <li><a href="#keywords" role="tab" data-toggle="tab">Emneord</a></li>
              <li><a href="#images" role="#images" data-toggle="tab">Billeder</a></li>
              <li><a href="#map" role="#map" data-toggle="tab">Kort</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="comments">
                <p></p>
                <div ng-repeat="comment in currentPost.comments">
                  <div ng-click="Comment.rate(currentPost.comments[$index], !currentPost.comments[$index].rate)">
                  <!--  -->
                    <p ng-class="{true:'comment', false:'comment bad', undefined:'comment'}[comment.rate]" ng-animate="'comment'">
                      {{comment.text}}
                    </p><div ng-show="comment.rate" ng-click="Comment.rate(currentPost.comments[$index], false)">God</div><div ng-show="!comment.rate" ng-click="Comment.rate(currentPost.comments[$index], true)">Dårlig</div>
                  </div>
                </div>
              </div>
                <div class="tab-pane active" id="keywords">
                  <p></p>
                  <div ng-repeat="keyword in currentPost.keywords">
                    <div ng-click="Comment.rate(currentPost.comments[$index], !currentPost.comments[$index].rate)">
                    <!--  -->
                      <p ng-class="{true:'comment', false:'comment bad', undefined:'comment'}[comment.rate]" ng-animate="'comment'">
                        {{comment.text}}
                      </p><div ng-show="comment.rate" ng-click="Comment.rate(currentPost.comments[$index], false)">God</div><div ng-show="!comment.rate" ng-click="Comment.rate(currentPost.comments[$index], true)">Dårlig</div>
                    </div>
                  </div>
                </div>
              <div class="tab-pane" id="images">
                <p>
                  <div class="row" style="text-align:center; margin-bottom: 20px;"> <!-- TOP images -->
                  <p>Viser billeder fra: <strong>National Museet </strong></p>
                  <p>søgeord: <span style="font-style: italic;">Larslejstræde</span></p>
                  <img src="img/natmus1.jpg" style="width:250px; margin-bottom:5px; display:inline-block" class="img-responsive" alt="Responsive image"><br/>
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>

                  </div>
                  <div class="row" style="text-align:center"> <!-- TOP thumbs -->
                      <img src="img/img1.jpg" style="margin-right:10px; width:100px; display:inline" class="img-responsive" alt="Responsive image">
                      <img src="img/img2.jpg" style="margin-right:10px; width:100px; display:inline" class="img-responsive" alt="Responsive image">
                      <img src="img/img4.jpg" style="margin-right:10px; width:100px; display:inline;" class="img-responsive" alt="Responsive image">
                      <img src="img/img3.jpg" style="margin-right:10px; width:100px; display:inline" class="img-responsive" alt="Responsive image">
                      <img src="img/natmus1.jpg" style="margin-right:10px; width:100px; display:inline; border: 2px solid green" class="img-responsive" alt="Responsive image">

                  </div>

                </p>
              </div>
              <div class="tab-pane" id="map">
                <p>
                  <!-- KORT WIDGET -->
                  <!-- div style="position: absolut" id="map-canvas">123</div -->
                  <img src="map.png" class="img-responsive" />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
