<div class="col-md-6">
  <div class="panel panel-danger">
  <div class="panel-heading">Ubehandlede poster <span class="badge">42</span></div>
    <div class="panel-body">
      <div id="fblist"></div>

      <!-- Single post -->
      <div ng-repeat="item in posts">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="item.imageUrl" style="margin-right:50px; width:100px; display:inline" class="img-responsive" alt="Responsive image">
              <span style="font-size:60%">{{item.headline}}</span>
            <button type="button" class="btn btn-success pull-right" ng-click="goToItem(item.id)">Vælg</button> 
          </div>
        </div>
      </div>
      <!-- single post end -->
    
    </div>
  </div>
</div>

